@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar{
  width:7px;
}
body::-webkit-scrollbar-thumb{
  width:7px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  background-color:#440022;
}
body::-webkit-scrollbar-track{
  background-color:#fff;
}
/* .select {
  ::before {
    content: "";
    margin-left: -10px;
  }

  ::after {
    content: "";
    margin-right: -10px;
  }
} */

@layer base {
  .active {
    @apply bg-blue-100/40 text-white;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
